@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #024e44;
  --danger: #cb1a14;
  --light: #04907e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-color: var(--primary-color);
  --color-danger: var(--danger);
  --color-light: var(--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: var(--font-poppins), system-ui, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
